.Login {
    height: 100vh;
    /* background-image: linear-gradient( rgba(191, 227, 234, 0.658), white); */
	background-image: url("../../../1-Assets/Images/BackGrounds/wh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
}

.Login {

}

