.ContinentArea > .background {
	height: 100vh;
    overflow: hidden;
    filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;

}

.ContinentArea > .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 70%;
    height: 70%;
    text-align: center;
    border: rgba(246, 182, 104, 0.362) 6px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(99, 76, 98, 0.375);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw;    
}


.ContinentArea h1 {
    text-align: left;
    color: rgb(244, 231, 216);
    font-size: 4vw;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    
}

.ContinentArea h1 > span {
    width: fit-content;
    font-size: 5.5vw;
}

.ContinentArea .Select {
    background-color: rgba(255, 255, 255, 0.321);
}

.ContinentArea .AllData {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15%;
}

.ContinentArea .Vacations {
    display:flex;
    gap: 1vw;
}

.ContinentArea .Heading > h3 {
    font-size: 15vh;
    color: white;
    font-family: 'Bebas Neue', sans-serif;   
    margin-bottom: 0; 
    text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000; 
}

.ContinentArea .Heading > span, .ContinentArea .Heading > p {
    font-size: large;
    color:  rgb(249, 248, 248);
    font-family: 'Lobster', cursive;
    text-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(16, 15, 15, 0.5),
    0 0 20px rgba(10, 10, 10, 0.5),
    0 0 25px rgba(10, 10, 10, 0.5);
}

.ContinentArea .Heading > p {
    font-weight: bolder;
}

.ContinentArea .card > span {
    color: white;
    font-size: 1vw;
    text-align: left !important;
    font-family: 'Lobster', cursive;

}

.ContinentArea .VacationCard {
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
}

.ContinentArea .Pagination {
    position: absolute;
    bottom: 5vh;
    left: 50%;
}

.ContinentArea a {
    text-decoration: none;
}

