.VacationsList {
    background-image: url("../../../1-Assets/Images/BackGrounds/HomeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Oswald', sans-serif;
    padding: 10vw;
    font-size: 3vw;
}

.VacationsList h1 {
    text-align: left;
    color: rgb(3, 32, 45);
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
    line-height: 9vh;
    letter-spacing: 0.5vw;

}

.VacationsList h1 > span {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;


}

.VacationsList h1 >span:first-child {
    font-size: 5.5vw;

}


  .marquee-container {
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 50vw;
    height: 60vh;

  }
  
  .marquee {
    width:100%;
    height: 100%;
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 25s linear infinite;
    position: relative;
    z-index: 999;
  }
  
  .VacationCard {
    width: 100%;
    min-width: 150px;
    margin-right: 2vw; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  @keyframes marquee-content {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .VacationsList img {
    width: 20vw;
    z-index: 0;
    position:absolute;
    left: -1.5vw;
    top: 0;
    rotate: 180deg;
    mix-blend-mode: difference;
    opacity: 0.5;
  }

  .VacationsList .FilterButton {
    margin-left: 0.5vw;
  }


  