.VacationsList {
    background-image: url("../../../1-Assets/Images/BackGrounds/HomeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: 'Amaranth', sans-serif;
    padding: 10vw;
    font-size: 3vw;
    

}

.VacationsList h1 {
    text-align: left;
    color: rgb(34, 36, 68);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    line-height: 0.9;
}

.VacationsList h1 > span {
    font-size: 3.5vw;
}

.VacationsList h1 >span:first-child {
    font-size: 5.5vw;
}