.Header {
	position: absolute;
    z-index: 999;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.Header a{
    text-decoration: none;
    font-size: larger;
    color: white;
    margin: 1vw;
    font-weight: bolder;
}


