
.UpdateVacation {
    background-image: url("../../../../1-Assets/Images/BackGrounds/VacationForms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    color: black;
}

