body, html, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  color: black;
}

.Auth {
  height: 100vh;
  background-image: url("./1-Assets/Images/BackGrounds/AuthBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  align-items: center;
}

.Auth > form {
  box-shadow: 2px 2px 2px 2px rgba(194, 191, 191, 0.49);
  border-radius: 10px;
  width: fit-content;
  padding: 40px;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.648);
  transition: 0.2s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Auth > form:hover {
  box-shadow: 2px 2px 2px 2px rgba(135, 136, 137, 0.49) ;
  background-color: rgba(255, 255, 255, 0.827);
  transition: 0.2s;

}

.Auth h4 {
  font-size: xx-large;
  padding: 0;
  margin: 0;
}

.Auth h3 {
  font-size: x-large;
  padding: 0;
  margin: 0;
}

.Auth a {
  color: black;  
  margin: 10px;  
}

.Auth a:hover {
  color: rgba(0, 0, 0, 0.399);
}


