.Register {
    height: 100vh;
    /* background-image: linear-gradient( rgba(191, 227, 234, 0.658), white); */
	background-image: url("../../../1-Assets/Images/BackGrounds/wh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
}

.Register > form {
    box-shadow: 2px 2px 2px 2px rgba(194, 191, 191, 0.49);
    border-radius: 10px;
    width: fit-content;
    padding: 40px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.648);
    transition: 0.2s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Register > form:hover {
    box-shadow: 2px 2px 2px 2px rgba(135, 136, 137, 0.49) ;
    background-color: rgba(255, 255, 255, 0.827);
    transition: 0.2s;

}

.Register h4 {
    font-size: xx-large;
    padding: 0;
    margin: 0;
}


